<mat-card class="card-picture m-2">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="70%" fxLayoutAlign="left">Sobre</span>

    </mat-card-title>
    <mat-divider class=""></mat-divider>

    <div class="row mt-5">
        <div class="col">
            <mat-card-content>
                A empresa TurinCorp Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, nemo qui!
                Mollitia fugiat
                praesentium in,
                deleniti aliquid repellendus? Velit debitis qui eius laboriosam quaerat necessitatibus molestias fugiat
                autem, repellat fuga!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos optio excepturi quo ex non sed, fugiat
                laboriosam aspernatur rerum distinctio saepe. Eveniet ipsum molestias, doloremque odio consectetur
                fugiat reprehenderit quaerat hic optio maxime maiores suscipit eius voluptatum beatae et itaque.
                Provident rem eum distinctio facilis repudiandae odit officia asperiores eius incidunt impedit! Dolorum
                temporibus asperiores obcaecati rem consequuntur voluptatum! Accusamus magni numquam aperiam officiis
                asperiores perspiciatis aliquid molestias molestiae excepturi deleniti voluptatum laborum repellendus
                ipsam inventore quaerat, est deserunt quae nesciunt! Ipsa, blanditiis dolor suscipit, quisquam cum at
                adipisci illo minima perspiciatis, modi corporis veniam facilis esse? Ducimus aperiam illo temporibus
                sunt doloribus, facilis doloremque in reprehenderit repellat accusantium, dolorem magni cum, nihil
                debitis repellendus voluptatum nobis blanditiis nam? Reprehenderit amet quam cumque iusto tempora sint
                ea aut repudiandae quia culpa dolore suscipit hic consectetur, accusamus minima nisi impedit in, debitis
                eos odio doloremque. Laudantium exercitationem beatae ullam odio minus praesentium iste architecto, a
                ducimus eligendi omnis voluptatem officiis aspernatur, itaque doloremque dolorum amet? Officia illum
                numquam molestiae modi deserunt, voluptatem ipsum. Tenetur consequuntur, blanditiis velit error ipsum
                vero quae, laudantium dolorum ratione cum excepturi cupiditate repellendus, eius fuga delectus fugit
                dolore id nam? Cupiditate necessitatibus minima atque ad et!

            </mat-card-content>
        </div>

        <div class="image-container col">
            <img mat-card-image class="thumbnail img-responsive"
                src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
    </div>

    <mat-divider></mat-divider>
    <mat-card-footer>
        <button class="more m-2 " mat-raised-button color="accent">Facebook</button>
        <button class="more m-2 " mat-raised-button color="accent">Whatsapp</button>
        <button class="more m-2 " mat-raised-button color="accent">Instagram</button>
    </mat-card-footer>
</mat-card>